requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
apscheduler==3.10.4
python-dotenv==1.0.1
pydantic-settings==2.5.2
google-api-python-client==2.149.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-auth==2.35.0
loguru==0.7.2
